imgPlayer/imgPlayer.sdf
imgPlayer/imgPlayer.suo
imgPlayer/imgPlayer.opensdf
imgPlayer/ipch/*
imgPlayer/Debug/*
imgPlayer/imgPlayer/imgPlayer.vcxproj.filters
imgPlayer/imgPlayer/imgPlayer.vcxproj.user
imgPlayer/imgPlayer/Debug/*
imgPlayer/imgPlayer/Release/*